.btn-primary {
    background-color: rgb(73, 119, 75);
    border-color: rgb(73, 119, 75);
}

.btn-inactive {
  background-color: rgb(209, 209, 209);
  color: white;
  border-color: rgb(209, 209, 209);
}


.desktop-row-height {
    height: 300px; 
  }
  
  @media (min-width: 768px) {
    .desktop-row-height {
      display: flex;
      align-items: center;
    }
  }

  .table-spacing {
    margin-top: 40px;
  }

  
