.btn-primary {
    background-color: rgb(73, 119, 75);
    border-color: rgb(73, 119, 75);
}

.btn-inactive {
  background-color: rgb(209, 209, 209);
  color: white;
  border-color: rgb(209, 209, 209);
}


.desktop-row-height {
    height: 300px; 
  }
  
  @media (min-width: 768px) {
    .desktop-row-height {
      display: flex;
      align-items: center;
    }
  }

  .table-spacing {
    margin-top: 40px;
  }

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
  }
  
  tr {
    position: relative;
  }

  tr.position-relative {
    position: relative;
  }
  
  /* Overlay-Styling */
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Halbtransparentes Overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 1px solid #ddd; /* Optional: Rahmen der Zeile */
  }
